name: Build and Deploy Docker image
on:
  pull_request_review:
    types: [submitted]
jobs:
  approved:
    if: github.event.review.state == 'approved'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: adopt-hotspot

      - name: Build app with Maven
        run: mvn install -DskipTests

      - name: Docker login
        env:
          DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
        run: |
          docker login quay.io -u $DOCKER_USERNAME -p $DOCKER_PASSWORD

      - name: Docker Compose Build
        run: |
          docker compose build
        working-directory: ./docker

      - name: Docker compose set tag
        env:
          QUAY_REPOSITORY: ${{secrets.QUAY_REPOSITORY}}
        run: |
          docker tag docker-spring-boot-postgres $QUAY_REPOSITORY

      - name: Docker push
        run: |
          docker push $QUAY_REPOSITORY
